@page "/mydevices"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>MyDevices</PageTitle>

<h1>My Devices</h1>
<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view this page.</p>
    </NotAuthorized>
</AuthorizeView>
@code {

}
