@page "/devices"
@using AJKIOT.Shared.Models
@using AJKIOT.Web.Pages.Device
@using AJKIOT.Web.Services
@using Microsoft.AspNetCore.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject LocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@attribute [Authorize]
@inject IApiService api

<PageTitle>Devices</PageTitle>
@if (devices != null)
{
    <div class="container">
        <div class="row">
            @foreach (var device in devices)
            {
                <div class="col-md-4 mb-4">
                    <IotDeviceTile IotDevice="device" OnPinStatusChanged="HandlePinStatusChanged"></IotDeviceTile>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>Loading...</p>
}


@code {

    private string errorMessage = string.Empty;

    private void HandlePinStatusChanged(string newStatus)
    {
        // Logika obsługująca zmianę statusu pinu
    }

    private IEnumerable<IotDevice> devices = null;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var userData = await LocalStorage.GetApplicationUserAsync();
            try
            {
                devices = await api.GetDeviceStatusAsync(userData.Email);
            } catch (UnauthorizedAccessException)
            {
                NavigationManager.NavigateTo("/Account/Login");
            }

            catch (Exception ex)
            {
                errorMessage = ex.Message;
            }

        }

    }

}
