@page "/devices"
@using AJKIOT.Shared.Models
@using AJKIOT.Shared.Models.DeviceFeatures
@using AJKIOT.Web.Pages.Device
@using AJKIOT.Web.Services
@using Microsoft.AspNetCore.Authorization
@using Blazorise
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject LocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@attribute [Authorize]
@inject IApiService api

<PageTitle>Devices</PageTitle>
@if (!AddMode)
{
    <div class="container">
        <div class="row">
            <div class="col-4">
                <Button Color="Color.Primary" Clicked="@(()=> AddMode = !AddMode)">Add Device</Button>
            </div>
        </div>
    </div>
}
@if (devices != null && !AddMode)
{
    <div class="container">
        <div class="row">
            @foreach (var device in devices)
            {
                <div class="col-md-4 mb-4">
                    <IotDeviceTile IotDevice="device" OnPinDeviceChanged="HandleDeviceChanged"></IotDeviceTile>
                </div>
            }
        </div>
    </div>
}
 
@if (AddMode)
{
    <AddDevice OnDeviceAdded="HandleDeviceAdded" />
}

@code {

    private bool AddMode = false;
    private bool ScheduleMode = false;

    private string errorMessage = string.Empty;

    private void HandleDeviceChanged(IotDevice iotDevice)
    {
        Console.WriteLine($"Pin status changed id: {iotDevice.DeviceFeaturesJson}");
    }

    private void HandleDeviceAdded(IotDevice iotDevice)
    {
        Console.WriteLine($"Added device: {iotDevice.DeviceName}");
        devices.Add(iotDevice);
        AddMode = false;
    }

    private List<IotDevice> devices = new List<IotDevice>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity!.IsAuthenticated)
        {
            var userData = await LocalStorage.GetApplicationUserAsync();
            try
            {
                devices.AddRange((await api.GetDeviceStatusAsync(userData.Email)).ToList());
            }
            catch (UnauthorizedAccessException)
            {
                var customProvider = AuthenticationStateProvider as CustomAuthenticationStateProvider;
                customProvider!.NotifyUserLogout();
                NavigationManager.NavigateTo("/Account/Login");
            }

            catch (Exception ex)
            {
                errorMessage = ex.Message;
            }
        }
    }
}
