@page "/"

<PageTitle>Home</PageTitle>

<h1>AJKIOT Management System</h1>

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
    </Authorized>
    <NotAuthorized>
        <a href="/Account/Login">Log in to manage your devices</a>
    </NotAuthorized>
</AuthorizeView>
