@page "/privacy"

<h1>Privacy Policy</h1>
<p>Welcome to our IoT application! This application is currently in the Release Candidate (RC) version. We value your
    privacy and want to ensure you are informed about how your data is handled when using our application.</p>

<h2>Data Collection and Use</h2>
<p>We do not collect any user data for the purpose of gathering information about users. Our application does not track
    or monitor user activities beyond what is necessary for its basic functionality.</p>

<h2>Registration</h2>
<p>Registration within the application is entirely voluntary. You are not required to provide any personal information
    unless you choose to register. If you decide to register, rest assured that your information will not be used for
    any other purposes.</p>

<h2>No Marketing Purposes</h2>
<p>Our application is not designed to fulfill any marketing objectives. We do not use your data for advertising,
    promotions, or any other marketing activities.</p>

<h2>Open Source Project</h2>
<p>This project is developed as an open-source initiative. Our primary goal is to create a functional and useful
    application without commercial interests.</p>

<h2>Contact Us</h2>
<p>If you have any questions or concerns about our privacy practices, please feel free to contact us at <a
        href="mailto:ajkiot@ajksoftware.pl">ajkiot@ajksoftware.pl</a>.</p>

<p>Thank you for using our IoT application!</p>