@using AJKIOT.Shared.Models
@using AJKIOT.Shared.Models.DeviceFeatures
@using System.Text.Json
@using AJKIOT.Web.Templates
@using Blazorise


<h3>Add New IoT Device</h3>

@foreach (var deviceType in DeviceTypes)
{
    <Grid Class="mb-1">
        <Column ColumnSize="ColumnSize.Is6">
            <Button Class="form-control" Color="Color.Primary" Clicked="@(() => AddNewDevice(deviceType))">Add @deviceType.Type</Button>
        </Column>
    </Grid>

}

@code {

    [Parameter]
    public EventCallback<IotDevice> OnDeviceAdded { get; set; }
    private List<DeviceTypeSelect> DeviceTypes = new List<DeviceTypeSelect>();
    private IotDevice iotDevice = new IotDevice();

    protected override void OnInitialized()
    {
        DeviceTypes = new List<DeviceTypeSelect>()
        {
            new DeviceTypeSelect { Id = 1, Type = DeviceType.Switch },
            new DeviceTypeSelect { Id = 2, Type = DeviceType.OpenTimer }
        };
    }

    private async Task AddNewDevice(DeviceTypeSelect deviceType)
    {
        var iotDevice = IotDeviceTemplate.CreateDevice(deviceType);
        await OnDeviceAdded.InvokeAsync(iotDevice);
    }

}
