.dial {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.knob {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
    /* Pozycjonowanie "knob" na środku górnej krawędzi "dial" */
    top: 5px; /* Zmniejsz tę wartość, jeśli "knob" ma być bliżej środka */
    left: 50%;
    transform: translate(-50%, -50%);
}
