@using Blazorise

<h3>Get device code</h3>
<Grid Class="mb-1">
    <Column ColumnSize="ColumnSize.Is9">
        Device ID: @DeviceId
    </Column>
</Grid>
<Grid Class="mb-1">
    <Column ColumnSize="ColumnSize.Is9">
        <TextEdit Class="form-control" @bind-Text="@wifiName" Placeholder="WiFi name (SID)" />
    </Column>
</Grid>
<Grid Class="mb-1">
    <Column ColumnSize="ColumnSize.Is9">
        <TextEdit Class="form-control" @bind-Text="@wifiPassword" Placeholder="WiFi password" />
    </Column>
</Grid>
<Grid Class="mb-1">
    <Column ColumnSize="ColumnSize.Is9">
        <TextEdit Class="form-control" @bind-Text="@apiAddress" Placeholder="API address" />
    </Column>
</Grid>

@code{
    [Parameter]
    public int DeviceId {get; set;}
    string wifiName {get; set;} = string.Empty;
    string wifiPassword {get; set;} = string.Empty;
    string apiAddress {get; set;} = string.Empty;

}