@using AJKIOT.Shared.Models
@using System.Text.Json
@using AJKIOT.Shared.Models.DeviceFeatures
@inject IJSRuntime JSRuntime

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@IotDevice.DeviceName</h5>
        <p class="card-text">ID: @IotDevice.DeviceId</p>
        @foreach (var feature in features)
        {
            <p class="card-text">@feature.Name</p>
            <p class="card-text">@feature.Type</p>
        }
        <button class="btn btn-primary" @onclick="TogglePinStatus">Toggle Pin Status</button>
    </div>
</div>

@code {
        [Parameter]
        public IotDevice IotDevice { get; set; }

    private List<DeviceFeature> features;

    [Parameter]
    public EventCallback<string> OnPinStatusChanged { get; set; }

    private async Task TogglePinStatus()
    {

        await OnPinStatusChanged.InvokeAsync(IotDevice.CurrentSettingsJson);

        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        features = JsonSerializer.Deserialize<List<DeviceFeature>>(IotDevice.DeviceFeaturesJson);
        foreach (var feature in features)
        {
            Console.WriteLine(feature.Name);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {

    }
}
