@using AJKIOT.Shared.Models.DeviceFeatures
<div>
    <button @onclick="ButtonPressed" class="button-3d @ButtonClass">OPEN</button>
</div>

@code {
    [Parameter]
    public DeviceFeature? Feature { get; set; }

    [Parameter]
    public EventCallback<DeviceFeature> IsOnChanged { get; set; }

    private string ButtonClass = "";

    private async Task ButtonPressed()
    {
        ButtonClass = "button-3d-pressed";
        Feature.Value = 1;
        await IsOnChanged.InvokeAsync(Feature);
        StateHasChanged();
        ButtonReleased();
    }

    private async void ButtonReleased()
    {
        await Task.Delay(5000);
        Feature.Value = 0;
        await IsOnChanged.InvokeAsync(Feature);
        ButtonClass = "";
        StateHasChanged();
    }
}
