@using AJKIOT.Shared.Models.DeviceFeatures
<div>
    <button @onclick="ButtonPressed" class="button-3d @ButtonClass">OPEN</button>
</div>

@code {

    [Parameter]
    public DeviceFeature? Feature { get; set; }

    [Parameter]
    public EventCallback<DeviceFeature> IsOnChanged { get; set; }

    private string ButtonClass = "";

    protected override void OnParametersSet()
    {
        setClass();
    }

    private void setClass()
    {
        if (Feature!.Value == 1)
            ButtonClass = "button-3d-pressed";
        else
            ButtonClass = "";
    }

    private async Task ButtonPressed()
    {

        Feature!.Value = 1;
        await IsOnChanged.InvokeAsync(Feature);
        StateHasChanged();
        ButtonReleased();
    }

    private async void ButtonReleased()
    {
        await Task.Delay(5000);
        Feature!.Value = 0;
        await IsOnChanged.InvokeAsync(Feature);

        StateHasChanged();
    }
}
