.button-3d {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 1s, background-color 1s;
    box-shadow: 0 4px #666;
    outline: none;
}

.button-3d-pressed {
    transform: translateY(4px);
    box-shadow: 0 2px #666;
    background-color: #00ff06; 
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    0% {
        background-color: #00ff06;
    }

    50% {
        background-color: #1ed800;
    }

    100% {
        background-color: #00ff06;
    }
}
