@using AJKIOT.Shared.Models.DeviceFeatures
<div class="switch @CssClass" @onclick="ToggleSwitch"></div>

@code {
    private bool _isOn;

    [Parameter]
    public DeviceFeature? Feature { get; set; }

    [Parameter]
    public EventCallback<DeviceFeature> IsOnChanged { get; set; }

    private string CssClass => _isOn ? "switch-on" : "switch-off";

    private async void ToggleSwitch()
    {
        _isOn = !_isOn;
        Feature!.Value = _isOn ? 1 : 0; 
        await IsOnChanged.InvokeAsync(Feature);
        StateHasChanged();
    }

}
