<div class="switch @CssClass" @onclick="ToggleSwitch"></div>

@code {
    private bool _isOn;

    [Parameter]
    public bool IsOn
    {
        get => _isOn;
        set
        {
            if (_isOn == value) return;
            _isOn = value;
            IsOnChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<bool> IsOnChanged { get; set; }

    private string CssClass => IsOn ? "switch-on" : "switch-off";

    private void ToggleSwitch()
    {
        IsOn = !IsOn;
        StateHasChanged(); // Zasygnalizuj zmianę stanu, aby odświeżyć widok.
    }
}
