@using AJKIOT.Web.Services
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{

    public void BeginLogOut()
    {
        AuthService.LogoutAsync();
        NavigationManager.NavigateTo("/");
        NavigationManager.Refresh();
    }
}
